:root {
  // responsive fonts
  --font-step--2: clamp(0.6075rem, 0.5962rem + 0.0565vw, 0.64rem);
  --font-step--1: clamp(0.7294rem, 0.7048rem + 0.1228vw, 0.8rem);
  --font-step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  --font-step-1: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  --font-step-2: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.5625rem);
  --font-step-3: clamp(1.5119rem, 1.3584rem + 0.7674vw, 1.9531rem);
  --font-step-4: clamp(1.8144rem, 1.5963rem + 1.0902vw, 2.4413rem);
  --font-step-5: clamp(2.1775rem, 1.8734rem + 1.5207vw, 3.0519rem);

  // responsive space
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);

  //extra layer to standard layer
  --layer--1: -1;

  // grid responsive
  --grid-max-width: 77.5rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem));
  --grid-columns: 12;
}
